
.mypy_cache/
*.error
__pycache__/
.vscode
.pydevproject

target/
.idea/
*.iml
.project
.vs/
.code/
Debug/
Release/
*.user
.cproject
.settings
cmake-build-debug

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.out

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.exe.*
*.app
*.pdb
obj/
bin/
*.class


